/* Colori:
#ffc017 giallo
#191919 nero
#1a8917 grigino
font-family: 'Roboto', sans-serif;
font-family: 'Spectral', serif;
 */

 * {
    box-sizing: border-box;
    color: #191919;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 300;
  }
  a:link, a:visited{
    color: #191919;
    text-decoration: none;
  }

  header{
    background-color: #ffc017;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
nav{
    display: flex;
    flex-basis: 100%;
    width: 100%;
    height: 15vh;
    position: fixed;
    background-color: #ffc017;
    border-bottom: solid 1px #191919;
}
  figure {
    flex-basis: 50%;
    position: sticky;
  }
  figure img{
    padding-top: 1.7em;
    margin-left: 4em;
  }
  ul{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    margin-right: 3em;
    position: sticky;
  }

  ul li{
    display: inline;
    list-style: none;
    padding: 0.7em;
    justify-content: flex-end;
  }

  .BtnHeader{
    font-weight: 450;
    font-size: small;
    border: none;
    background-color: transparent;
    padding: 1.3em 1.2em;
    color: #191919;
  }
  .BtnHeaderBlack{
    border-radius: 20px;
    background-color: #191919;
    color: white;
    font-weight: 450;
    font-size: small;
    border: none;
    padding: 0.6em 1.2em;
    margin-top: 0.7em;
  }
#HeroSection{
    display: flex;
    height: 73vh;
    margin-top: 4em;
    width: 100%;
    flex-wrap: wrap;
    border-top: solid 1px #191919;
    border-bottom: solid 1px #191919; 
    justify-content: space-evenly;
    padding: 0.3em 0em;
}
#HeroSection div:nth-of-type(1){order: 1;}
#HeroSection div:nth-of-type(2){order: 3;}
#HeroSection div:nth-of-type(3){order: 4;}
#HeroSection div:nth-of-type(4){order: 2;}

h1{
    font-family: 'Spectral', serif;
    font-size : 100px;
    flex-basis: 100%;
    padding-top: 0.5em;
}
iframe{
    width: 40vw;
    height: 75vh;
    padding: 0%;
    margin: 0%;
}
#Testo{
    flex-basis: 50%;
    padding-left: 1.2em;
}
#Testo p{
    font-weight: 400;
    font-size: x-large;
    width: 35vw;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

}

#BtnHero{
    border: none;
    border-radius: 20px;
    background-color: #191919;
    color: white;

    font-weight: 400;
    font-size: large;
    padding: 0.5em 2.5em;
}

aside{
    margin-top: 3em;
    padding-left: 3.6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: #cdcdcd solid 1px;
    width: 100%;
}
aside h3{
    flex-basis: 100%;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}
aside h3 img{
    padding-right: 0.5em;
}
.Trending{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.33%;
    line-height: 1.3rem;
    padding-left: 0.5em;
}

.Trending b{
    flex-basis: 15%;
    color:#cdcdcd;
    font-size: xx-large;
    font-weight: 900;
    padding-top: 0.3em;
}
.Content{
    flex-basis: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.3rem;
    margin-bottom: 2em;
    padding-top: 0.5em;
}
.Content h4{
   display: flex;
   font-weight: 600;
   font-size: small;

}
.Content img{
    border-radius: 20px;
    width: 1.7vw;
    margin-right: 0.4em;
}

.Content h3{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding-bottom: 0%;
}

.Content p{
    font-family: 'Roboto', sans-serif;
    color: #989898;
    font-size: small;
    display: flex;
}
.Content p img{
    width: 1.3vw;
    margin-left: 0.4em;
}

.Content span{
    color: #989898;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
main{
    display: flex;
    margin-top: 4em;
    justify-content: left;
}
article{
flex-basis: 60%;
}

.Articles{
    display: flex;
    padding: 0em 4em;
}
.Banner{
    width: 15vw;
    height: 25vh;
}

.Articles{
    margin-bottom: 3.5em;
}
.Articles h4{
    display: flex;
    font-weight: 600;
    font-size: small;
    align-items: center;
}

.Articles h4 img{
    width: 1.7vw;
    margin-right: 0.7em;
   }

   .Articles h3{
    font-weight: 900;
    font-size: larger;
    padding-top: 0.7em;
    text-transform: capitalize;
    width: 30vw;
   }

   .Articles div{
    font-size: small;
    font-weight: 400;
    color: #646262;
    padding-top: 0.6em;
    line-height: 1.1rem;
    width: 40vw;
    padding-right: 4em;
   }
   .InfoBar{
    display: inline-block;
    width: 30vw;
    height: 6vh;
   }
   .InfoBar p{
    display: inline-block;
    width: 13vw;
    margin: 0%;
    padding: 0%;
   }
   .InfoBar button{
    display: inline-block;
    border: none;
    background-color: #ebebeb9e;
    border-radius: 15px;
    padding: 0em 0.6em;
    width: auto;
    height: auto;
    margin-right: 0.5em;
}
.InfoBar figure{
    margin: 0%;
    padding: 0%;
    display: inline;
    float: right;
}
.Bookmark{
    margin: 0%;
    padding: 0%;
    display: inline;
    position: relative;
}

footer{
    flex-basis: 40%;
}
footer div h3{
    font-weight: 500;
    padding: 0em 0em 1em 0em;
}

footer button{
    font-size: large;
    margin: 0.2em;
    padding: 0.5em 0.8em;
    background-color: rgb(248, 249, 249);
    border: solid 1px rgb(185, 185, 185);
}

footer hr{
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

footer a{
    padding: 0.8em;
    line-height: 2rem;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

